/*
Description: Stylesheet for GPX2Chart
Author: Walter Werther
Version: 0.2
*/

/* ----------- GPX2Chart -------------*/

.gpx2chart {
	border: 1px solid #fff;
	background-color: #EEE;
}

.gpx2charterror {
	color:#FF0000;
}

.gpx2chartmeta {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: x-small;
	line-height: 15px;
}

.gpx2chartmeta tr th {
	padding: 0px 0px 0px 10px;
}

.gpx2charttooltip {
	border: 1px solid #000;
	width: 250px;
	background-color: #FFF;
	position: fixed;
	font-size:smaller;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	z-index: 10;
}

.gpx2charttoolhead {
	font-size: small;
	font-weight: bold;
	text-align: center;
	margin: 0 0 5px;
	clear: both;
}

.gpx2chartlabel {
	float: left;
	margin: 0px 10px 0 5px;
	font-weight: bold;
	white-space: nowrap;
}
.gpx2chartvalue {
	float: right;
	margin: 0 5px 0 0;
	white-space: nowrap;
}

.gpx2chartrow {
	clear: both;
	font-size: xx-small;
	line-height: 14px;
	margin: 0;
	padding: 0;
}

.gpx2chartdebug {
	display: none;
}
